<div class="auth-form">

	<form class="form-signin" action="/login" method="post">
	    <h2 class="form-signin-heading">Sign in</h2>
	    <input type="text" name="username" class="fix form-control" placeholder="Username" required="" autofocus="">
	    <input type="password" name="password" class="fix form-control" placeholder="Password" required="">
	    
	    <div class="checkbox">
	      <p>New user? <a href="/signup">Signup</a></p>
	    </div>
	    
	    <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
	</form>
</div>

