
<h1>Edit Post</h1>
<form action="/posts/<%= @post.id %>/edit" method="post">
  <label for="post_title">Title:</label><br />
  <input id="post_title" name="post[title]" type="text" class="form-title form-control" value="<%= @post.title %>" />
  <br />
 
  <label for="post_body">Body:</label><br />
  <textarea class="form-textarea form-control" id="post_body" name="post[body]" rows="5"><%= @post.body %></textarea>
  <br />
 
  <input type="submit" value="Create Post" class="btn btn-primary"/>
</form>   